.browse-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .5rem;
  width: 62%;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #cdcdcd27;
  margin: .5rem;
  border-radius: 1rem;
}

.filters-container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcd27;
  margin-top: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  border-radius: 1rem;
}

.search {
  display: flex;
}

.search > input {
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  caret-color: #1666D9;

}

.search-area {
  width: 25rem;
  left: 0;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
}

.search-select {
  width: 13rem;
}

.search-select-baths {
  width: 10rem;
  border-radius: 0 1rem 1rem 0;
}

.search > input::placeholder {
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  padding: .5rem;
}

.search > input[type = "image"] {
  margin-left: .5rem;
}

.items {
  display: flex;
  justify-content: space-between;
}
