.search-area {
  width: 25rem;
  left: 0;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
}

.search-select {
  width: 13rem;
}

.search-select-baths {
  width: 10rem;
  border-radius: 0 1rem 1rem 0;
}
