.browse-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #cdcdcd27;
  margin: 0.5rem;
  border-radius: 1rem;
}

.filters-container {
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cdcdcd27;
}

.search {
  display: flex;
}

.search > input {
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  caret-color: #1666d9;
}

.search-area {
  width: 25rem;
  left: 0;
  border-radius: 1rem 0 0 1rem;
  padding-left: 1rem;
}

.search-select {
  width: 13rem;
}

.search-select-baths {
  width: 10rem;
  border-radius: 0 1rem 1rem 0;
}

.search > input::placeholder {
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}

.search > input[type="image"] {
  margin-left: 0.5rem;
}

.items {
  display: flex;
  justify-content: space-between;
}

/* CSS for Pagination Component */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 50px;
}

.pagination-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.page-item {
  margin: 0 5px;
  transition: background-color 0.3s;
}

.active-page {
  background-color: #007bff;
  color: #fff !important;
}

.page-link {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  border: 1px solid #ddd;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: #1666d9;
  color: #fff;
}

/* Previous and Next buttons */
.page-item:first-child .page-link::before {
  content: "«";
  margin-right: 5px;
}

.page-item:last-child .page-link::after {
  content: "»";
  margin-left: 5px;
}

.page-item:nth-child(2) .page-link::before {
  content: "‹";
  margin-right: 5px;
}

.page-item:nth-last-child(2) .page-link::after {
  content: "›";
  margin-left: 5px;
}

.search > select {
  height: 3rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
  caret-color: #1666d9;
  width: 13rem;
  background-color: white;
}
.sale-text {
  color: rgba(0, 0, 0, 0.36);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.1rem;
  padding: 0.5rem;
}
