:root {
    --background-color: aliceblue;
    --header-color: #faf9f9;
    --text-color: black;
    --off-white-text-color: rgba(0, 0, 0, 0.5);
    --logo-color: rgba(0, 0, 0, 0.5);
    --card-color: #fff;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    --box-shadow-hover: 0 8px 12px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
    --container-color: #dad7d727;
    --dropdown-color: #fafcff;
  }

  .dark-theme {
    --background-color: #0d1117;
    --header-color: #0d1117;
    --text-color: #fff;
    --off-white-text-color: #fff;
    --logo-color: rgba(255, 255, 255, 0.714);
    --card-color: #97adcc18;
    --container-color: #565c6418;
    --dropdown-color: #0d1117;
  }