.card {
  width: 350px;
  height: auto;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-carousel {
  width: 100%;
  object-fit: hidden;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  overflow: hidden; /* Adjust the value as needed */
}

.card-price {
  font-weight: 500;
  font-size: 30px;
}
.card-price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-info {
  padding: 10px;
}

.card-address {
  color: rgba(0, 0, 0, 0.5);
}

.card-icon {
  width: 30px;
  height: 100%;
  flex-shrink: 0;
}

.card-icons {
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.icon-number {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  margin-left: 10px;
}

.icon-with-number {
  display: flex;
  align-items: center;
  padding: 10px;
}

.link-no-deco {
  text-decoration: none;
  color: inherit;
}