.card {
  width: 32.8125rem;
  height: 32.5rem;
  flex-shrink: 0;
  border-radius: 1.25rem;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  box-shadow: 2px 4px 10px 0px rgba(0, 0, 0, 0.1);
}

.card-carousel {
  width: 100%;
  object-fit: hidden;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  overflow: hidden; /* Adjust the value as needed */
}
.card-img {
  margin-bottom: 2.25rem;
}
.card-info {
  margin-left: 2.13rem;
}
.card-price {
  color: #000;
  font-family: Inter;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 13.87rem;
}
.card-price-container {
  display: flex;
  align-items: center;
}
.card-address {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.05625rem;
  margin-top: 0.62rem;
  margin-bottom: 1.32rem;
}

.card-icon {
  width: 2.625rem;
  height: 2.75rem;
  flex-shrink: 0;
}

.card-icons {
  display: flex;
  margin-left: 2.13rem;
  justify-content: space-between;
  margin-right: 1.06rem;
}

.icon-number {
  color: rgba(0, 0, 0, 0.4);
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.0625rem;
  margin-left: 0.62rem;
}

.icon-with-number {
  display: flex;
  align-items: center;
}
