
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px!important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: white;
    list-style: none;
    background-color: var(--dropdown-color);
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
    border-radius: 0.5rem;
}


.dropdown-menu li {
    padding: 3px 15px;
	color: white;
	border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-menu li:hover {
    color: #fff;
	background-color: #1667d9bd;
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    padding: 10px;
    color: var(--text-color);
    border-radius: 0.5rem;
}

.dropdown-link:hover {
    border-radius: 1rem;
    color: white;
    transition: all 0.3s ease-out;
}