.header {
  position: fixed;
  font-family: Inter;
  display: flex;
  width: 100%;
  height: 90px;
  background: #faf9f9;
  align-items: center;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  z-index: 1000;
}
.name {
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 30px;
  text-decoration: none;
}

.nav {
  display: flex;
  gap: 43px;
  justify-content: center;
  align-items: center;
}

.nav button {
  color: #000;
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  background: none;
}

.nav-item {
  color: #000;
  text-decoration: none;
  position: relative;
  letter-spacing: 0.5px;
}

.nav-item:before,
.nav-item:after {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: black;
  transition: ease 0.5s;
}

.nav-item:after {
  left: 0;
  bottom: -5px;
}

.nav-item:before {
  right: 0;
  top: -5px;
}

.nav-item:hover:after,
.nav-item:hover:before {
  width: 100%;
}

.nav-item.active:after,
.nav-item.active:before {
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-bottom: 0;
  padding-right: 50px;
}

.darkToggle {
  width: 20px;
  height: 20px;
}
.bulb {
  width: 20px;
  height: 20px;
}

.menu-icon {
  margin-top: .6rem;
  cursor: pointer;
}

.menu-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  width: 10rem;
  height: 3rem;
  position: absolute;
  right: -100%;
  opacity: 0;
  transition: 0.5s ease;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: #1666D9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-items.active {
  right: 0;
  z-index: 1;
  opacity: 1;
  transition: 0.6s ease;
}

.menu-item {
  text-decoration: none;
  font-weight: 450;
  color: #fff;
  transition: 1s ease;
  transition-delay: 0.3s;
  transform: translateY(10px);
}

.menu-items.active .menu-item {
  transform: translateY(2px); /* Transition the position */
}


.username-display {
  margin-top: .5rem;
}