/* Bookings.css */
.bookings {
  height: auto;
  min-height: 35rem;
  background-color: var(--card-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.booking-header {
  display: flex;
  align-items: center;
  background-color: var(--header-color); /* Background color for the header */
}

.header-type,
.header-status,
.header-address,
.header-price,
.header-broker,
.header-user,
.header-message {
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: 500;
  color: var(--logo-color);
  background-color: var(--header-color); /* Background color for header cells */
}

.broker {
  border-right: none;
}

.header-type {
  width: 15%;
  color: var(--text-color);
}

.header-status {
  width: 20%;
  color: var(--text-color);
}

.header-address,
.header-message {
  width: 35%;
  color: var(--text-color);
}

.header-price,
.header-user {
  width: 15%;
  color: var(--text-color);
}

.header-broker {
  width: 15%;
  border-right: none;
  color: var(--text-color);
}

.booking-cards {
  display: flex;
  flex-direction: column;
}

.buyer-booking-card {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent; /* Background color for card */
  margin: 20px 0; /* Add some margin between cards for spacing */
  height: 50px;
  font-size: 14px;
  font-weight: 700;
  color: var(--logo-color);
  border-bottom: 1px solid #ccc;
  padding-bottom: 0;
  margin-bottom: 0;
}

.whole-card {
  padding-bottom: 0;
  margin-bottom: 0;
}

.property-type {
  width: 15%;
  color: var(--text-color);
}

.property-status {
  color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 13px;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-address,
.property-message {
  width: 35%;
  color: var(--text-color);
}

.property-price,
.property-user {
  width: 15%;
  color: var(--text-color);
}

.property-broker {
  width: 15%;
  border-right: none;
  color: var(--text-color);
}

.status-confirmed {
  color: rgba(64, 123, 22);
  background-color: rgba(233, 245, 230);
}

.status-hold {
  color: rgba(191, 143, 60);
  background-color: rgba(250, 250, 244);
}

.status-declined {
  color: rgba(157, 62, 47);
  background-color: rgba(246, 233, 234);
}

.expanded-content {
  display: flex;
  flex-direction: column;
}

.buyer-booking-card {
  cursor: pointer;
}

.no-bookings {
  margin-top: 50px;
  text-align: center;
}
