.message-title {
  width: 75%;
  color: var(--text-color);
  padding: 10px;
  border-bottom: 1px solid var(--logo-color);
  text-align: center;
  font-weight: 500;
}
.from-title {
  width: 25%;
  color: var(--text-color);
  padding: 10px;
  border-bottom: 1px solid var(--logo-color);
  border-right: 1px solid var(--logo-color);
  text-align: center;
  font-weight: 500;
}

.offer-header {
  display: flex;
  align-items: center;
}


.offer-cards .property-broker-messages {
  min-width: 25%;
  border-right: none;
  color: var(--off-white-text-color);
}

.offer-cards .property-message {
  min-width: 75%;
  border-right: none;
  color: var(--off-white-text-color);
}