.show {
  overflow: scroll;
}

.form-property-title {
  width: 40.5rem;
}
.form-pair {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 40rem;
}

input {
  width: 20rem;
}
